.everything {
  background-colur: lightblue; /*for browsers that do not support gradients*/
  background-image: linear-gradient(to bottom, lightblue , violet)
}

img {
  width: 30%;
  height: 20%;
  margin: 5px;
  box-shadow: 3px 3px 6px;
  border-radius: 20%;
}

h1 {
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
  padding: 10px;
  margin: 5px; 
}

table, th, td {
  background: silver;
  border: 1px solid;
}